 /* =====HEADER BANNER===== */
 nav {
   background-color: rgba(187, 187, 187, 0.4);
 }

 .nav-header nav a {
   cursor: pointer;
   font-family: "Poppins", serif;
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
   color: #000000;
   margin: 0 10px;
 }

 .nav-header nav .login-btn {
   margin-left: 150px;
 }

 /* .nav-header nav a:hover { border-bottom: 2px solid #FFEA60;} */

 .nav-header .navbar-nav {
   margin-left: 25px;
 }

 .nav-header nav .reg-btn {
   font-family: "Poppins", serif;
   font-weight: 500;
   font-size: 15px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 170px;
   height: 35px;
   text-align: center;
   border-radius: 30px;
 }

 .banner-blog .banner-bg .row {
   width: 100%;
 }

 .banner-blog .banner-bg {
   background-image: url('../assets/banner-bg.png');
   background-size: 57% 100%;
   background-position: right;
   background-repeat: no-repeat;
 }


 .banner-blog .banner-bg .banner-content {
   padding-left: 20px;
   padding-top: 130px;
 }

 .banner-blog .banner-bg .banner-content h1 {
   font-family: "Poppins", serif;
   font-weight: 800;
   font-style: normal;
   font-size: 45px;
   color: #000000;
   text-align: left;
   margin-bottom: 20px;
 }

 .banner-blog .banner-bg .banner-content p {
   font-family: "Roboto Flex", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   color: #000000;
   line-height: 30px;
   text-align: justify;
 }

 .banner-blog .banner-bg .banner-content button {
   font-family: "Roboto Flex", serif;
   font-weight: 600;
   font-style: normal;
   font-size: 15px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 120px;
   height: 35px;
   box-shadow: 0px 4px 5px darkgrey;
 }

 .banner-blog .banner-bg .banner-content button img {
   padding-left: 3px;
 }

 .banner-blog .banner-bg .banner-img img {
   width: 630px;
 }

 /* ===== BANNER SERVICE TAG ===== */

 .banner-service-tag {
   margin: 3% 0;
 }

 .banner-service-tag .row {
   width: 100%;
 }

 .banner-service-tag .service-tag {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .banner-service-tag .service-tag img {
   width: 40px;
 }

 .banner-service-tag .service-tag span {
   font-family: "Namdhinggo", serif;
   font-weight: 800;
   font-size: 12px;
   margin: 0 10px;
   text-transform: uppercase;
 }

 /* ===== ABOUT US ===== */
 .about-us-blog {
   margin: 1% 0;
 }

 .about-us-blog .about-bg {
   background-image: url('../assets/about-bg.png');
   background-position: left;
   background-repeat: no-repeat;
 }

 .about-us-blog .about-bg .about-content {
   padding: 8% 10% 0 11%;
 }

 .about-us-blog .about-bg .about-content h2 {
   font-family: "Poppins", serif;
   font-weight: 700;
 }

 .about-us-blog .about-bg .about-content p {
   font-family: "Roboto Flex", serif;
   font-weight: 400;
 }


 .about-us-blog .about-bg .about-banner {
   text-align: center;
 }

 .about-us-blog .about-bg .about-banner img {
   width: 300px;
 }

 .about-us-blog .about-bg .about-content button {
   font-family: "Roboto Flex", serif;
   font-weight: 600;
   font-size: 15px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 120px;
   height: 35px;
   box-shadow: 0px 4px 5px darkgrey;
 }

 /* ===== SERVICES ===== */

 .service-blog {
   margin: 2% 0;
 }

 .service-blog .service-bg {
   background-image: url('../assets/service-bg.png');
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: 122%;
 }

 .service-blog .service-bg h2 {
   font-family: "Poppins", serif;
   font-weight: 700;
   text-align: center;
 }

 .service-blog .service-bg p {
   font-family: "Poppins", serif;
   font-weight: 400;
   text-align: center;
   margin: 0;
 }

 .service-blog .service-bg .service-card-blog {
   margin: 1% 0;
 }

 .service-blog .service-bg .service-card-blog .service-card {
   margin: 10px;
   background-color: #ffffff;
   padding: 15px;
   border-radius: 20px;
   box-shadow: 0px 4px 5px darkgrey;
 }

 .service-blog .service-bg .service-card-blog .service-card .service-content {
   margin: 10px;
   padding: 15px 25px;
   background-color: #FFFADA;
 }

 .service-blog .service-bg .service-card-blog .service-card .service-content h3 {
   font-size: 16px;
   text-align: center;
   font-family: "Poppins", serif;
   font-weight: 700;
 }

 .service-blog .service-bg .service-card-blog .service-card .service-content p {
   font-size: 14px;
   margin-top: 20px;
   text-align: justify;
   font-family: "Poppins", serif;
   font-weight: 400;
 }

 .service-blog .service-bg .service-card-blog .service-card .service-content button {
   font-family: "Poppins", serif;
   font-weight: 700;
   font-size: 12px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 100%;
   height: 35px;
   box-shadow: 0px 4px 5px darkgrey;
   margin: 10px 0;
 }

 /* ===== TECHNICAL TOOL ===== */

 .technical-tool-blog {
   margin: 2% 0;
 }

 .technical-tool-blog h2 {
   text-align: center;
   font-family: "Poppins", serif;
   font-weight: 700;
 }

 .technical-tool-blog .tool-flex-box {
   margin: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .technical-tool-blog .tool-flex-box .tool-bar {
   text-align: center;
 }

 .technical-tool-blog .tool-flex-box .tool-bar img {
   width: 75px;
   height: 75px;
 }

 .technical-tool-blog .tool-flex-box .tool-bar p {
   margin: 0;
   font-family: "Roboto Flex", serif;
   font-weight: 700;
 }

 /* ===== PROCESS ===== */
 .process-blog {
   margin: 2% 0;
 }

 .process-blog h2 {
   font-family: "Poppins", serif;
   font-weight: 700;
   text-align: center;
 }

 .process-blog p {
   font-family: "Poppins", serif;
   font-weight: 400;
   text-align: center;
 }

 .process-blog .process-img img {
   width: 100%;
 }

 /* ===== WHY CHOOSE US ===== */


 .choose-us-blog .row {
   width: 100%;
   align-items: center;
 }

 .choose-us-blog h2 {
   text-align: center;
   font-family: "Poppins", serif;
   font-weight: 700;
 }

 .choose-us-blog .choose-content {
   text-align: left;
   background-color: #FFFADA;
   padding: 5% 8% 5% 16%;
   font-family: "Poppins", serif;
   font-weight: 400;
 }

 .choose-us-blog .choose-content button {
   font-family: "Poppins", serif;
   font-weight: 700;
   font-size: 12px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 120px;
   height: 35px;
   box-shadow: 0px 4px 5px darkgrey;
 }

 /* ===== HIRE TEAM ===== */

 .hire-team-blog {
   /* margin: 1% 0; */
 }

 .hire-team-blog .hire-team-bg {
   background-image: linear-gradient(to right, #FFFCEB, #D8D8D8);
   padding: 7% 0;
 }

 .hire-team-blog .hire-team-bg .row {
   width: 100%;

 }

 .hire-team-blog .hire-team-bg .hire-team-content h2 {
   font-family: "Poppins", serif;
   font-weight: 700;
 }

 .hire-team-blog .hire-team-bg .hire-team-content span {
   color: #FFEA60;
 }

 .hire-team-blog .hire-team-bg .hire-team-content p {
   font-family: "Poppins", serif;
   font-weight: 400;
 }

 .hire-team-blog .hire-team-bg .hire-team-content button {
   font-family: "Poppins", serif;
   font-weight: 700;
   font-size: 12px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 120px;
   height: 35px;
   box-shadow: 0px 4px 5px darkgrey;
 }

 /* ===== CONTACT US ===== */

 .contact-us-blog {
   /* margin: 1% 0; */
   position: relative;
 }

 .contact-us-blog .contact-bg {
   background-image: url('../assets/contect-bg.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding: 4% 0 8% 0;
 }

 .contact-us-blog .contact-bg .form-box {
   margin: 0 8%;
 }

 .contact-us-blog .contact-bg .form-box h2 {
  font-family: "Poppins", serif;
  font-weight: 700;
   color: #ffffff;
 }

 .contact-us-blog .contact-bg .form-box p {
  font-family: "Poppins", serif;
  font-weight: 500;
   color: #ffffff;
 }

 .contact-us-blog .contact-bg .form-box form .email {
   width: 100%;
   margin: 20px 0;
   height: 50px;
   border-radius: 12px;
   border: none;
   padding-left: 10px;
 }

 .contact-us-blog .contact-bg .form-box form textarea {
   width: 100%;
   margin: 20px 0;
   height: 150px;
   border-radius: 12px;
   border: none;
   padding-left: 10px;
 }

 .contact-us-blog .contact-bg .form-box form .check-box {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   margin: 20px 0;
 }

 .contact-us-blog .contact-bg .form-box form .check-box label {
   color: #ffffff;
   padding-left: 10px;
   font-family: "Poppins", serif;
   font-weight: 300;
 }

 .contact-us-blog .contact-bg .form-box form button {
  font-family: "Poppins", serif;
    font-weight: 700;
   font-size: 12px;
   color: #000000;
   background-color: #FFEA60;
   border: none;
   width: 150px;
   height: 35px;
 }



 .accordion-button::before {
   background-image: url(../assets/faq-bullet-icon.png);
   flex-shrink: 0;
   width: 1.25rem;
   height: 1.25rem;
   margin-right: 3%;
   content: "";
   background-repeat: no-repeat;
   background-size: 1.25rem;
   transition: transform .2s ease-in-out;
 }

 .accordion-button:not(.collapsed)::before {
   background-image: url(../assets/faq-bullet-icon.png);
 }

 .accordion-button::after {
   background-image: none;
 }

 .accordion-button:not(.collapsed)::after {
   background-image: none;
 }

 .accordion-button {
   background-color: transparent;
   color: #ffffff;
 }

 .accordion-item {
   background-color: transparent;
   border: none;
   color: #ffffff;
 }

 .contact-us-blog .contact-bg .contact-faq-box {
   /* background-color: rgba(255, 234, 96, 0.4); */
   background-color: rgba(0, 0, 0, 0.4);
   padding: 30px 10px;
 }

 .accordion-button:focus {
   border: none;
 }

 .contact-us-blog .contact-bg .contact-faq-box h2 {
   padding-left: 20px;
   color: #ffffff;
   font-family: "Poppins", serif;
   font-weight: 700;
 }

 .accordion-item:focus-visible {
   outline: none !important;
 }

 .accordion-button:not(.collapsed) {
   box-shadow: none;
   color: #ffffff;
 }

 .accordion-header:focus-visible {
   outline: none !important;
 }

 .accordion-button:focus {
   box-shadow: none;
 }

 .accordion-body {
   padding: 0 0 0 14%;
   font-family: "Poppins", serif;
   font-weight: 500;
   font-size:12px
 }

 /* ===== FOOTER ===== */

 .footer-blog {
   position: absolute;
   bottom: -40%;
   width: 100%;
 }

 .footer-blog .footer-bg {
   background-image: url('../assets/footer-bg.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding-top: 12%;
 }

 .footer-blog .footer-bg h1 {
   text-align: center;
 }

 .footer-blog .footer-bg .row {
   width: 100%;
 }

 .footer-blog .footer-bg .quick-link h2 {
   font-size: 20px;
   font-family: "Poppins", serif;
   font-weight: 600;
 }

 .footer-blog .footer-bg .quick-link ul {
   padding: 0;
 }

 .footer-blog .footer-bg .quick-link ul li {
  font-family: "Poppins", serif;
  font-weight: 500;
   list-style-type: none;
   font-size: 14px;
 }

 .footer-blog .footer-bg .our-service h2 {
  font-family: "Poppins", serif;
  font-weight: 600;
   font-size: 20px;
 }

 .footer-blog .footer-bg .our-service ul {
   padding: 0;
 }

 .footer-blog .footer-bg .our-service ul li {
  font-family: "Poppins", serif;
  font-weight: 500;
   list-style-type: none;
   font-size: 14px;
 }

 .footer-blog .footer-bg .where-we-are-heading {
  font-family: "Poppins", serif;
  font-weight: 700;
   text-align: center;
 }

 .footer-blog .footer-bg .where-we-are {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 15px 0;
 }

 .footer-blog .footer-bg .where-we-are img {
   width: 70px;
 }

 .copy-follow-flex {
   display: flex;
   justify-content: flex-end;
   font-family: "Poppins", serif;
   font-weight: 400;
   font-size: 16px;
 }

 .copy-follow-flex .follow ul {
   padding: 0;
 }

 .copy-follow-flex .follow ul li {
   display: inline-block;
   list-style-type: none;
   margin: 0 15px;
 }

 .copy-follow-flex .follow ul li img {
   width: 30px;
 }

 .copy-follow-flex .copy-rights {
   margin: 0 40px;
   font-family: "Poppins", serif;
   font-weight: 500;
   font-size: 16px;
 }